<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342558427137-ssndodn83bqvcuhcrggvaisdo3r49puq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342558427137-ssndodn83bqvcuhcrggvaisdo3r49puq</string>
	<key>API_KEY</key>
	<string>AIzaSyAos9USPIjzR3UFD6pyWKo38CY-aHnc868</string>
	<key>GCM_SENDER_ID</key>
	<string>342558427137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabak33FirebaseCopy</string>
	<key>PROJECT_ID</key>
	<string>todocopy-9ca02</string>
	<key>STORAGE_BUCKET</key>
	<string>todocopy-9ca02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342558427137:ios:b6dd853ade552762731800</string>
</dict>
</plist>