<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883025666135-psnprt59do9s4kjbvm28l3g2i2ofosin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883025666135-psnprt59do9s4kjbvm28l3g2i2ofosin</string>
	<key>API_KEY</key>
	<string>AIzaSyDIZUz4FER8rLTS68QIb6nCPKWZ41XKPno</string>
	<key>GCM_SENDER_ID</key>
	<string>883025666135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabak33Firebase1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-799e1</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-799e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883025666135:ios:0dce84f49a6d97ff644312</string>
</dict>
</plist>